<div class="container">
  <div class="header">
    Termo

    <notifier-container></notifier-container>
  </div>

  <div class="board">
    <div class="board-row" row="0">
      <div class="letter active edit" position="0" (click)="onClick($event)"></div>
      <div class="letter active" position="1" (click)="onClick($event)"></div>
      <div class="letter active" position="2" (click)="onClick($event)"></div>
      <div class="letter active" position="3" (click)="onClick($event)"></div>
      <div class="letter active" position="4" (click)="onClick($event)"></div>
    </div>
    <div class="board-row" row="1">
      <div class="letter" position="0" (click)="onClick($event)"></div>
      <div class="letter" position="1" (click)="onClick($event)"></div>
      <div class="letter" position="2" (click)="onClick($event)"></div>
      <div class="letter" position="3" (click)="onClick($event)"></div>
      <div class="letter" position="4" (click)="onClick($event)"></div>
    </div>
    <div class="board-row" row="2">
      <div class="letter" position="0" (click)="onClick($event)"></div>
      <div class="letter" position="1" (click)="onClick($event)"></div>
      <div class="letter" position="2" (click)="onClick($event)"></div>
      <div class="letter" position="3" (click)="onClick($event)"></div>
      <div class="letter" position="4" (click)="onClick($event)"></div>
    </div>
    <div class="board-row" row="3">
      <div class="letter" position="0" (click)="onClick($event)"></div>
      <div class="letter" position="1" (click)="onClick($event)"></div>
      <div class="letter" position="2" (click)="onClick($event)"></div>
      <div class="letter" position="3" (click)="onClick($event)"></div>
      <div class="letter" position="4" (click)="onClick($event)"></div>
    </div>
    <div class="board-row" row="4">
      <div class="letter" position="0" (click)="onClick($event)"></div>
      <div class="letter" position="1" (click)="onClick($event)"></div>
      <div class="letter" position="2" (click)="onClick($event)"></div>
      <div class="letter" position="3" (click)="onClick($event)"></div>
      <div class="letter" position="4" (click)="onClick($event)"></div>
    </div>
    <div class="board-row" row="5">
      <div class="letter" position="0" (click)="onClick($event)"></div>
      <div class="letter" position="1" (click)="onClick($event)"></div>
      <div class="letter" position="2" (click)="onClick($event)"></div>
      <div class="letter" position="3" (click)="onClick($event)"></div>
      <div class="letter" position="4" (click)="onClick($event)"></div>
    </div>
  </div>

  <div class="keyboard">
    <div class="keyboard-row keyboard-row-first">
      <div class="letter" keyboard-key="Q" (click)="onKeyClick($event)">Q</div>
      <div class="letter" keyboard-key="W" (click)="onKeyClick($event)">W</div>
      <div class="letter" keyboard-key="E" (click)="onKeyClick($event)">E</div>
      <div class="letter" keyboard-key="R" (click)="onKeyClick($event)">R</div>
      <div class="letter" keyboard-key="T" (click)="onKeyClick($event)">T</div>
      <div class="letter" keyboard-key="Y" (click)="onKeyClick($event)">Y</div>
      <div class="letter" keyboard-key="U" (click)="onKeyClick($event)">U</div>
      <div class="letter" keyboard-key="I" (click)="onKeyClick($event)">I</div>
      <div class="letter" keyboard-key="O" (click)="onKeyClick($event)">O</div>
      <div class="letter" keyboard-key="P" (click)="onKeyClick($event)">P</div>
    </div>
    <div class="keyboard-row keyboard-row-second">
      <div class="letter" keyboard-key="A" (click)="onKeyClick($event)">A</div>
      <div class="letter" keyboard-key="S" (click)="onKeyClick($event)">S</div>
      <div class="letter" keyboard-key="D" (click)="onKeyClick($event)">D</div>
      <div class="letter" keyboard-key="F" (click)="onKeyClick($event)">F</div>
      <div class="letter" keyboard-key="G" (click)="onKeyClick($event)">G</div>
      <div class="letter" keyboard-key="H" (click)="onKeyClick($event)">H</div>
      <div class="letter" keyboard-key="J" (click)="onKeyClick($event)">J</div>
      <div class="letter" keyboard-key="K" (click)="onKeyClick($event)">K</div>
      <div class="letter" keyboard-key="L" (click)="onKeyClick($event)">L</div>
      <div class="letter" keyboard-key="Backspace" (click)="onKeyClick($event)">&larr;</div>
    </div>
    <div class="keyboard-row keyboard-row-third">
      <div class="letter" keyboard-key="Z" (click)="onKeyClick($event)">Z</div>
      <div class="letter" keyboard-key="X" (click)="onKeyClick($event)">X</div>
      <div class="letter" keyboard-key="C" (click)="onKeyClick($event)">C</div>
      <div class="letter" keyboard-key="V" (click)="onKeyClick($event)">V</div>
      <div class="letter" keyboard-key="B" (click)="onKeyClick($event)">B</div>
      <div class="letter" keyboard-key="N" (click)="onKeyClick($event)">N</div>
      <div class="letter" keyboard-key="M" (click)="onKeyClick($event)">M</div>
      <div class="letter enter" keyboard-key="Enter" (click)="onKeyClick($event)">ENTER</div>
    </div>
  </div>
</div>